@charset "UTF-8";

html {
        font-family: sans-serif;
}
body {
        background-color: #ffdbdb;
}
h1 {
        color: #3f5170;
}
.title {
        text-align: center;
}
h2 {
        color: #3f5170;
        font-size: 22px;
        border-bottom: 3px solid #3f5170
}
p {
        line-height: 1.6;
}
a:link {
        color: #d25833;
}
a:visited {
        color: #d25833;
}
a:hover {
        color: #e3937a;
}
a:active {
        color: #ff6a3b; 
}
.nav ul {
        display: block;
        text-align: center;
}
.nav li {
        display: inline-block;
        list-style-type: none;
        padding-right: 80px;
        margin: 32px;
}
.side1 {
        width: 150px;
        list-style-type: none;
        padding-inline-start: 20px;
        float: left;
}
#news-block {
        width: 1250px;
        float: right
}
#news-text {
        width: 1250px;
        float: right
}
/* profile.htmlに関して */
.profile {
        width: 1250px;
        float: right;
}
.keireki-text {
        width: 1250px;
        float: right;
}
.profile2 {
        width: 1250px;
        float: right
}
#goaisatsu {
        width: 1250px;
        float: right
}
#aisatsu-text1 {
        width: 1250px;
        float: right
}
#aisatsu-text2 {
        width: 1250px;
        float: right
}
#aisatsu-text3 {
        width: 1250px;
        float: right
}
#aisatsu-text4 {
        width: 1250px;
        float: right
}
#aisatsu-text5 {
        width: 1250px;
        float: right
}
#aisatsu-text6 {
        width: 1250px;
        float: right
}
#aisatsu-text7 {
        width: 1250px;
        float: right
}
#aisatsu-text8 {
        width: 1250px;
        float: right
}
#aisatsu-text9 {
        width: 1250px;
        float: right
}
#profile3 {
        width: 1250px;
        float: right
}
#shikaku {
        width: 1250px;
        float: right
}
#it {
        width: 1250px;
        float: right
}
#shikaku-nav-it {
        width: 1250px;
        float: right
}
#hoka {
        width: 1250px;
        float: right
}
#shikaku-nav-hoka {
        width: 1250px;
        float: right
}
#shikaku-text1 {
        width: 1250px;
        float: right
}
#shikaku-text2 {
        width: 1250px;
        float: right
}
#shikaku-text3 {
        width: 1250px;
        float: right
}
#mywork {
        width: 1250px;
        float: right
}