@charset "UTF-8";

html {
        font-family: sans-serif;
}
.html {
        height: 100%;
}
body {
        background-color: #ffdbdb;
}
.body {
        height: auto;
}
.container {
        width: 100%;
        position: relative;
        height: auto;
        min-height: 100%;
}
h1 {
        color: #3f5170;
}
.title {
        text-align: center;
        color: #3f5170;
        background-color: #ffb3b3;
        height: 95px;
        padding-top: 50px;
}
h2 {
        color: #3f5170;
        font-size: 22px;
        border-bottom: 3px solid #3f5170
}
p {
        line-height: 1.6;
}
a:link {
        color: #d25833;
}
a:visited {
        color: #d25833;
}
a:hover {
        color: #e3937a;
}
a:active {
        color: #d25833; 
}
.nav ul {
        display: block;
        text-align: center;
}
.nav li {
        display: inline-block;
        list-style-type: none;
        padding-right: 80px;
}
.side {
        width: 170px;
        margin-top: 20px;
        list-style-type: none;
        padding-inline-start: 20px;
        float: left;
}
.news-block {
        width: 1250px;
        float: right
}
.news-text {
        width: 1250px;
        float: right
}
.footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 38px; 
}
.column-block {
        width: 1250px;
        float: right;
}
.column {
        width: 1250px;
        float: right;
}
.column-title {
        width: 1250px;
        float: right;
}
.column-text {
        width: 1250px;
        height: 14px;
        float: right;
}
.profile {
        width: 1250px;
        float: right;
}
.keireki-text {
        width: 1250px;
        height: 14px;
        float: right;
}
.aisatsu-text {
        width: 1250px;
        height: 14px;
        float: right;
}
.shikaku-nav-it {
        width: 1250px;
        float: right
}
.hoka {
        width: 1250px;
        float: right
}
.shikaku-nav-hoka {
        width: 1250px;
        float: right
}
.shikaku-text {
        width: 1250px;
        height: 14px;
        float: right
}
.seisakubutsu {
        width: 1250px;
        float: right;
}
.work {
        border-collapse: collapse;
}
.work td {
        padding: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 2px solid #000000;
        text-align: center;
}
.column {
        border-collapse: collapse;
}
.column td {
        padding: 10px;
        padding-top: 4px;
        padding-bottom: 4px;
        border: 2px solid #000000;
        text-align: center;
}

